.NewRelease{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.NRContainer{
    width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
}
/* 
import React from 'react';

function MyComponent() {
  return <div>My Component</div>;
}

export default MyComponent; */
